extends base

block content
  p Bonjour #{username},
  p Mot de passe oublié ? Cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe.
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Réinitialiser mot de passe
  p Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail.
  p Bonne chance ! Équipe Tournament.